<div class="content wallet" style="margin-bottom: 80px;">
   <div class="container-fluid" >
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               
               <div class="content balance_page">
                  <h4 style="font-weight: 500">ACCOUNT BALANCES</h4>
                  <table border="1" cellpadding="0" cellspacing="0"  style="border-collapse:collapse;"  class="table table-striped table-bordered table-hover" style="width:100%;" >
                     <thead>
                        <tr>
                           <th style="text-align: center;"><i class="ti-plus"></i></th>
                           <th>Name Coin</th>
                           <th>Symbol</th>
                           <th>Available Balance</th>
                           <th>Pending</th>
                        </tr>
                        <tr>
                           <td class="text-center"><button style="margin-right: 10px;" data-toggle="modal" data-target="#modalDepositBTC" class="btn btn-social btn-fill btn-twitter">Deposit</button><button data-toggle="modal" data-target="#modalWithdrawBTC" class="btn btn-social btn-fill btn-twitter crt_button">Withdraw</button></td>
                           <td>Bitcoin</td>
                           <td>BTC</td>
                           <td>{{satoshi user.balance.bitcoin_wallet.available}}</td>
                           <td>{{satoshi balance.btc}}</td>
                        </tr>

                        <tr>
                           <td class="text-center"><button style="margin-right: 10px;" data-toggle="modal" data-target="#modalDepositETH" class="btn btn-social btn-fill btn-twitter">Deposit</button><button data-toggle="modal" data-target="#modalWithdrawETH" class="btn btn-social btn-fill btn-twitter crt_button">Withdraw</button></td>
                           <td>Ethereum</td>
                           <td>ETH</td>
                           <td>{{satoshi user.balance.ethereum_wallet.available}}</td>
                           <td>{{satoshi balance.eth}}</td>
                        </tr>
                        
                        <tr>
                           <td class="text-center"><button style="margin-right: 10px;" data-toggle="modal" data-target="#modalDepositCOIN" class="btn btn-social btn-fill btn-twitter">Deposit</button><button data-toggle="modal" data-target="#modalWithdrawCOIN" class="btn btn-social btn-fill btn-twitter crt_button">Withdraw</button></td>
                           <td>Wavecoin</td>
                           <td>WAVE</td>
                           <td>{{satoshi user.balance.coin_wallet.available}}</td>
                           <td>{{satoshi balance.coin}}</td>
                        </tr>
                        
                     </thead>
                     <tbody></tbody>
                  </table>
                  <div class="clearfix"></div>
                  <div class="row">
                     <div class="col-md-6">
                        <h4 style="font-weight: 500">PENDING DEPOSITS</h4>
                        <div id="history-deposit-pending"></div>
                     </div>
                     <div class="col-md-6">
                        <h4 style="font-weight: 500">DEPOSIT HISTORY</h4>
                        <div id="history-deposit-finish"></div>
                     </div>
                     <div class="col-md-6">
                        <h4 style="font-weight: 500">PENDING WITHDRAWALS</h4>
                        <div id="history-withdraw-pendding"></div>
                     </div>
                     <div class="col-md-6">
                        <h4 style="font-weight: 500">WITHDRAWAL HISTORY</h4>
                        <div id="history-withdraw-finish"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>